<section class="post">
  <h2>Post <%= "#{post.id}: #{post.title}" %></h2>
  <div class="post"><%= post.body %></div>
  <% cache post do %>
    <%= render 'post_nav', post: post %>
    <%= render post.comments %>
  <% end %>
</section>
